################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Corcentric_Automation/bin/Debug
/Corcentric_Automation/obj/Debug
